.tool-bar-container {
  background: #f7fafc;
  color: #38b2ac;
  height: 40px;
  line-height: 40px;
  padding: 5px 10px;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-wrapper svg {
  padding: 0 0.4rem;
}

input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.data-import-label {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.action-icon-wrapper,
.zoom-icon-wrapper {
  padding: 0 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-icon-wrapper svg,
.zoom-icon-wrapper svg {
  padding: 0 0.4rem;
  cursor: pointer;
}
.fullscreen-icon-wrapper,
.export-icon-wrapper {
  padding: 0 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tool-bar,
.tool-wrapper {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

/* LOGO */
.short-LOGO {
  display: none;
}
.full-LOGO {
  display: block;
}

@media screen and (max-width: 460px) and (orientation: portrait) {
  .short-LOGO {
    display: block;
  }
  .full-LOGO {
    display: none;
  }
}
