.tool-bar-container {
  background: #f7fafc;
  color: #38b2ac;
  height: 40px;
  line-height: 40px;
  padding: 5px 10px;
}

.action-icon-wrapper,
.zoom-icon-wrapper {
  padding: 0 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-icon-wrapper svg,
.zoom-icon-wrapper svg {
  padding: 0 0.4rem;
  cursor: pointer;
}
.fullscreen-icon-wrapper {
  padding: 0 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tool-bar,
.tool-wrapper {
  display: flex;
  justify-content: space-between;
  height: 40px;
}
