.message-area {
  background: #f7fafc;
  color: #38b2ac;
  flex: 2;
  height: 300px;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
}

.message-area h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.message-area ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.message-area li:before {
  content: "\003e";
  padding-right: 10px;
}

@media screen and (max-width: 800px) and (orientation: landscape),
  screen and (max-height: 500px) {
  .message-area {
    display: none;
  }
}
