.currency-price-area {
  background: #f7fafc;
  color: #38b2ac;
  flex: 10;
  height: 300px;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.currency-price-area h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.currency-price-area .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.currency-price-area .content-wrapper .converter-section {
  flex: 1;
  align-self: baseline;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.currency-price-area .content-wrapper .chart-section {
  flex: 1;
}

.quick-amount-section {
  display: none;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.quick-amount-pill {
  color: #fff;
  margin: 0 0.25rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-weight: 700;
  border-radius: 9999px;
  background-color: #38b2ac;
  border: 0.1rem solid #38b2ac;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
}
.quick-amount-pill:focus {
  outline: none;
}
.quick-amount-pill.disabled {
  color: rgb(56, 178, 172, 0.8);
  background-color: transparent;
  box-shadow: none;
}

.converter-wrapper {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.info-section p {
  text-align: center;
}
.info-section b {
  font-size: 1.5rem;
}
.bank-link {
  color: #38b2ac !important;
}
.friendly-info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.amount-wrapper {
  display: flex;
  margin: 0 1.2rem;
  justify-content: center;
  align-items: center;
}
.amount-input {
  flex: 8;
  margin: 0 1.2rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  font-size: 2rem;
  color: #38b2ac;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.25;
  border-width: 1px;
  border-radius: 0.25rem;
  appearance: none;
  overflow: visible;
  border: 0 solid #e2e8f0;
  transition: outline 0.3s;
}
.amount-input:focus {
  outline: rgb(56, 178, 172, 0.65) auto 1px;
}
.flag-button {
  flex: 1;
  height: 36px;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
p.convert-hint {
  margin-bottom: 0.1rem;
}
span.converted-result {
  font-size: 2rem;
  font-weight: bolder;
}

@media screen and (max-width: 800px) and (orientation: landscape),
  screen and (max-height: 500px) {
  .quick-amount-section {
    display: flex;
  }
  .currency-price-area .content-wrapper {
    padding: 1rem 0;
  }
  .currency-price-area {
    display: none;
  }
  .currency-price-area.showConverter {
    display: block;
    height: calc(100vh - 50px);
  }
}
